.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25vw;
    min-width: 20em;
    background-color: #fff;
    background-image: url('../images/UpdatesTransLinkFTN-02.png');
    background-repeat: no-repeat;
    background-position: 35% 0;
    background-size: cover;

    @include media-query($on-palm) {
        top: 0;
        left: 0;
        right: 0;
        width: auto;
        height: auto;
    }
}

.sidebar-content {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 4px;
    padding: 1em;
}

/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-weight: bold;
    font-size: 3.25rem;
    font-family: 'Abril Fatface', cursive;
    line-height: 1.3;
    text-shadow: 1px 1px 1px #fff;
    text-shadow: 1px -1px 1px #f00;
    text-shadow: -1px -1px 1px #0f0;
    text-shadow: -1px 1px 1px #00f;

    &,
    &:visited {
        color: #800;
    }
}

.site-description {
    
}

.contact-icons {
    font-size: 1.75em;
    text-align: center;
}

.site-links {

    list-style: none;
    margin: 0;
    padding: 0;

    .page-link {

    }

    @include media-query($on-palm) {
        .page-link {
            float: left;
            // Gaps between nav items, but not on the first one
            &:not(:first-child) {
             margin-left: 20px;
            }
        }
    }
}

.site-nav {
    
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    margin-left: 20em
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
