.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25vw;
    min-width: 21em;
    background-color: #fff;
    background-image: url('../images/UpdatesTransLinkFTN-02.png');
    background-repeat: no-repeat;
    background-position: 35% 0;
    background-size: cover;

    @include media-query($on-palm) {
        top: 0;
        left: 0;
        right: 0;
        width: auto;
        height: auto;
    }
}

.sidebar-content {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    background-color: rgba(255, 255, 255, 0.85); 
    border-radius: 4px;
    padding: 1em;
}

/**
 * Site header
 */

.sidebar a {
    &,
    &:visited {
        color: #666;
        text-decoration: none;
    }
    &:hover {
        color: #33b;
    }
}

a.site-title {
    font-weight: 100;
    font-size: 2.5rem;
    font-family: "Lobster", Calibri, Helvetica, Arial, sans-serif;
    line-height: 1;
    text-shadow: 2px 2px #666;
    opacity: 0.8;

    &,
    &:visited {
        color: #d3d3d3;
    }
}

.site-description {
    margin-top: 1em;
    color: #666;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.contact-icons {
    font-size: 1.75em;
    text-align: center;
}

.site-links {

    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;

    .page-link {

    }

    @include media-query($on-palm) {
        .page-link {
            float: left;
            // Gaps between nav items, but not on the first one
            &:not(:first-child) {
             margin-left: 20px;
            }
        }
    }
}

.site-nav {
    
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.post-excerpt {
    
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    margin-left: 20em;
    font-weight:bold;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.page-heading {
    font-size: 20px;
    font-weight: bold;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.read-more { 
    font-size: 1em;
    }

/**
 * Work
 */

 div.image {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.image:hover {
    border: 1px solid #777;
}

div.image img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
